.ipynb_checkpoints/

__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
.env
.ipynb_checkpoints/
.coverage
.git
.vscode
extract/projet_complet.md


*.log
*.out
*.fls
*.aux
*.synctex.gz
*.fdb_latexmk
*.bbl
*.blg

*.db